<!-- <mat-expansion-panel class="panel">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Feilds:
        </mat-panel-title>
        <mat-panel-description>
            Selected feilds of table would be shown.  
        </mat-panel-description>
    </mat-expansion-panel-header>

    <h4>Select Feilds:</h4>
            
            <section class="groups">
                <div>
                    <tr>
                        <td><mat-checkbox class="margin" [checked]="all" [(ngModel)]="all" (change)="onSelect()">Select All</mat-checkbox></td>
                    </tr>
                    <tr>
                        <td><mat-checkbox class="margin" [checked]="source" [(ngModel)]="source">Source</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="demandStatus" [(ngModel)]="demandStatus">Demand status</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="teamRequestId" [(ngModel)]="teamRequestId">Team Request Id</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="positionId" [(ngModel)]="positionId">Position Id</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="recruitingId" [(ngModel)]="recruitingId">Recruiting Id</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="bUOfAccount" [(ngModel)]="bUOfAccount">BU Of Account</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="subSector" [(ngModel)]="subSector">Sub Sector</mat-checkbox></td>
                    </tr>
                </div>

                <div>
                    <tr>
                        <td><mat-checkbox class="margin" [checked]="microSector" [(ngModel)]="microSector">Micro Sector</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="client" [(ngModel)]="client">Client</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="demandType" [(ngModel)]="demandType">Demand Type</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="projectCode" [(ngModel)]="projectCode">Project Code</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="jobName" [(ngModel)]="jobName">Job Name</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="positionName" [(ngModel)]="positionName">Position Name</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="teamRequestName" [(ngModel)]="teamRequestName">Team Request Name</mat-checkbox></td>
                    </tr>
                </div>

                <div>
                    <tr>
                        <td><mat-checkbox class="margin" [checked]="localGrade" [(ngModel)]="localGrade">Local Grade</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="globalGrade" [(ngModel)]="globalGrade">Global Grade</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="roleNotes" [(ngModel)]="roleNotes">Role Notes</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="roleType" [(ngModel)]="roleType">Role Type</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="backFillReason" [(ngModel)]="backFillReason">Back Fill Reason</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="outgoingEmployee" [(ngModel)]="outgoingEmployee">Outgoing Employee</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="roleStartDate" [(ngModel)]="roleStartDate">Role Start Date</mat-checkbox></td>
                    </tr>
                </div>

                <div>
                    <tr>
                        <td><mat-checkbox class="margin" [checked]="roleEndDate" [(ngModel)]="roleEndDate">Role End Date</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="fulfillmentChannelFinal" [(ngModel)]="fulfillmentChannelFinal">Fulfillment Channel Final</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="demandFulfillmentStatus" [(ngModel)]="demandFulfillmentStatus">Demand Fulfillment Status</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="additionalNotes" [(ngModel)]="additionalNotes">Additional Notes</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="bUOfSkill" [(ngModel)]="bUOfSkill">BU Of Skill</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="practice" [(ngModel)]="practice">Practice</mat-checkbox></td>
                    </tr>
                </div>

                <div>
                    <tr>
                        <td><mat-checkbox class="margin" [checked]="globalPractice" [(ngModel)]="globalPractice">Global Practice</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="fte" [(ngModel)]="fte">FTE</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="countryOfDeliveryPrimary" [(ngModel)]="countryOfDeliveryPrimary">Country Of Delivery (Primary)</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="creationDate" [(ngModel)]="creationDate">Creation Date</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="updatedOn" [(ngModel)]="updatedOn">Updated On</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="weekByStatus" [(ngModel)]="weekByStatus">Week By Status</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="ageing" [(ngModel)]="ageing">Ageing</mat-checkbox></td>
                    </tr>
                </div>

                <div>
                    <tr>
                        <td><mat-checkbox class="margin" [checked]="leadtimeInDays" [(ngModel)]="leadtimeInDays">Lead Time In Days</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="requestUpdater" [(ngModel)]="requestUpdater">Request Updater</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="teamRequestComment2" [(ngModel)]="teamRequestComment2">Team Request Comment 2</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="buspHandler" [(ngModel)]="buspHandler">BUSP Handler</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="pspHandler" [(ngModel)]="pspHandler">PSP Handler</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="recruiter" [(ngModel)]="recruiter">Recruiter</mat-checkbox></td>
                    </tr>
                </div>

                <div>
                    <tr>
                        <td><mat-checkbox class="margin" [checked]="deliveryRole" [(ngModel)]="deliveryRole">Delivery Role</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="deliverySkills" [(ngModel)]="deliverySkills">Delivery Skills</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="requestedBy" [(ngModel)]="requestedBy">Requested By</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="clientReference" [(ngModel)]="clientReference">Client Reference</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="expectedDailyRate" [(ngModel)]="expectedDailyRate">Expected Daily Rate</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="roleComment1" [(ngModel)]="roleComment1">Role Comment 1</mat-checkbox></td>
                    </tr>
                </div>

                <div>
                    <tr>
                        <td><mat-checkbox class="margin" [checked]="deliveryType" [(ngModel)]="deliveryType">Delivery Type</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="primaryLocationName" [(ngModel)]="primaryLocationName">Primary Location Name</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="locationDescription" [(ngModel)]="locationDescription">Location Description</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="primaryCity" [(ngModel)]="primaryCity">Primary City</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="primaryState" [(ngModel)]="primaryState">Primary State</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="primaryZipCode" [(ngModel)]="primaryZipCode">Primary Zip Code</mat-checkbox></td>
                    </tr>
                </div>

                <div>
                    <tr>     
                        <td><mat-checkbox class="margin" [checked]="primaryRegion" [(ngModel)]="primaryRegion">Primary Region</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="primaryGeoName" [(ngModel)]="primaryGeoName">Primary Geo Name</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="primaryGeoCity" [(ngModel)]="primaryGeoCity">Primary Geo City</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="closestGeoHub" [(ngModel)]="closestGeoHub">Closest Geo Hub</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="hubSpoke" [(ngModel)]="hubSpoke">Hub/Spoke</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="productionUnit" [(ngModel)]="productionUnit">Production Unit</mat-checkbox></td>
                    </tr>
                </div>

                <div>
                    <tr>
                        <td><mat-checkbox class="margin" [checked]="productionUnitName" [(ngModel)]="productionUnitName">Production Unit Name</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="targetBillRate" [(ngModel)]="targetBillRate">Target Bill Rate</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="sellingBU" [(ngModel)]="sellingBU">Selling BU</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="taleoLocationRequisitionLocation" [(ngModel)]="taleoLocationRequisitionLocation">Taleo Location: Requisition Location</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="taleoLocationDemandGeo" [(ngModel)]="taleoLocationDemandGeo">Taleo Location: Demand Geo</mat-checkbox></td>
                    </tr>
                </div>

                <div>
                    <tr>
                        <td><mat-checkbox class="margin" [checked]="taleoLocationClientLocation" [(ngModel)]="taleoLocationClientLocation">Taleo Location: Client Location</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="accountRegion" [(ngModel)]="accountRegion">Account Region</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="accountGeoName" [(ngModel)]="accountGeoName">Account Geo Name</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="accountGeoCity" [(ngModel)]="accountGeoCity">Account Geo City</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="thorStage" [(ngModel)]="thorStage">THOR Stage</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="s2rId" [(ngModel)]="s2rId">S2R Id</mat-checkbox></td>
                    </tr>
                </div>

                <div>
                    <tr>
                        <td><mat-checkbox class="margin" [checked]="headCountType" [(ngModel)]="headCountType">Head Count Type</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="s2rManaged" [(ngModel)]="s2rManaged">S2R Managed</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="taskLabel" [(ngModel)]="taskLabel">Task Label</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="s2rCaseId" [(ngModel)]="s2rCaseId">S2R Case Id</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="candidateCount" [(ngModel)]="candidateCount">Candidate Count</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="teamRequestStatus" [(ngModel)]="teamRequestStatus">Team Request Status</mat-checkbox></td>
                    </tr>
                </div>

                <div>
                    <tr>
                        <td><mat-checkbox class="margin" [checked]="assignedTo" [(ngModel)]="assignedTo">Assigned To</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="thorOptyId" [(ngModel)]="thorOptyId">THOR Opty Id</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="thorContractType" [(ngModel)]="thorContractType">THOR Contract Type</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="thorProbability" [(ngModel)]="thorProbability">THOR Probability</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="thorCloseDate" [(ngModel)]="thorCloseDate">THOR Close Date</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="thorStartDate" [(ngModel)]="thorStartDate">THOR Start Date</mat-checkbox></td>
                    </tr>
                </div>

                <div>
                    <tr>
                        <td><mat-checkbox class="margin" [checked]="marketUnitBU" [(ngModel)]="marketUnitBU">Market Unit BU</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="requestCreator" [(ngModel)]="requestCreator">Request Creator</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="leadMarketArea" [(ngModel)]="leadMarketArea">Lead Market Area</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="leadPracticeArea" [(ngModel)]="leadPracticeArea">Lead Practice Area</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="sourceOfDemand" [(ngModel)]="sourceOfDemand">Source Of Demand</mat-checkbox></td>
                    </tr>
                </div>

                <div>
                    <tr>
                        <td><mat-checkbox class="margin" [checked]="weekByStatusGrouped" [(ngModel)]="weekByStatusGrouped">Week By Status - Grouped</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="durationInAgedPastStatus" [(ngModel)]="durationInAgedPastStatus">Duration In Aged Past Status</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="noOfSelfAppliedApplications" [(ngModel)]="noOfSelfAppliedApplications">No. Of Self Applied Applications</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="daysSincePastDue" [(ngModel)]="daysSincePastDue">Days Since Past Due</mat-checkbox></td>
                    </tr>
                </div>

                <div>
                    <tr>
                        <td><mat-checkbox class="margin" [checked]="isClientInterviewRequired" [(ngModel)]="isClientInterviewRequired">Is Client Interview Required</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="excludeOffshoreDcxID" [(ngModel)]="excludeOffshoreDcxID">Exclude Offshore DCX/I&D</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="leadMarketAndPracticeAreaSame" [(ngModel)]="leadMarketAndPracticeAreaSame">Lead Market And Practice Area Same</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="forecastType" [(ngModel)]="forecastType">Forecast Type</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="visible" [(ngModel)]="visible">Visible</mat-checkbox></td>
                    </tr>
                </div>

                <div>
                    <tr>
                        <td><mat-checkbox class="margin" [checked]="agedPastDueYN" [(ngModel)]="agedPastDueYN">Aged + Past Due - Y/N</mat-checkbox></td>
                        <td><mat-checkbox class="margin" [checked]="dmdCaseStatus" [(ngModel)]="dmdCaseStatus">DMD Case Status</mat-checkbox></td>
                        
                    </tr>
                </div>
        
            </section>
            
        </mat-expansion-panel>

        <mat-form-field>
            <mat-label>Toppings</mat-label>
            <mat-select [formControl]="toppings" multiple>
              <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
            </mat-select>
          </mat-form-field> -->